<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="XStoreDB" connectionString="Server=.;Database=XStoreDB;UID=sa;PWD=987654321;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>